// Sækja config
// Allir stílar fyrir bækur
@import './config';

.books {
  margin-bottom: $root-size*2;
}

.books .col {
  margin-bottom: $root-size*2;
}

.book {
  margin-right: $root-size;
  margin-bottom: $root-size*2;
  width: $full-size;
  height: $full-size;
  min-width: 160px;

  display: flex;
  flex-direction: column;

  background-color: $darkwhite;
}

.book > .content {
  padding: $root-size*0.5;
  border: 1px solid #999999;
  border-top: 0;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book .image {
  height: 200px;
  overflow: hidden;
}

.book .image img {
  object-fit: cover;
  width: $full-size;
  height: 200px;

  transition: $transform-style;
}

.book:hover .image img {
  transform: scale(1.3);
}

.book h3 {
  margin-bottom: $root-size*0.5;
  font-size: $root-size*1.5;
}

.book h4 {
  margin-bottom: $root-size;
  font-size: $root-size*0.875;
  font-weight: normal;
  text-transform: uppercase;
}

.book .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book .buy .price {
  margin-right: $root-size*0.5;
}
