// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg

 $black: #000;
 $stonegray: #222;
 $darkwhite: #ccc;
 $white: #eee;

 $root-size: 16px;
 $full-size: 100%;

 $flipcard-Y: rotateY(180deg);
 $transform-style: transform 300ms ease-in-out;

 /* myndin scale*/



