// Sækja config
// Allir stílar fyrir events
@import './config';

.events {
  margin-bottom: $root-size*2;
}

.events .col {
  margin-bottom: $root-size*2;
}

.event {
  position: relative;

  width: $full-size;
  height: $full-size;
  min-height: 250px;

  background-color: $darkwhite;

  word-break: break-word;
}

.event:last-child {
  margin-right: 0;
}

.event h3 {
  margin-bottom: $root-size;
}

.event p {
  margin-bottom: $root-size;
  font-style: italic;
}

.event ul {
  list-style: none;
  font-style: italic;
}

.event .card {
  position: absolute;
  display: flex;
  left: 0; right: 0; top: 0; bottom: 0;
  transform-style: preserve-3d;
  transition: $transform-style;
}

.event:hover .card {
  transform: $flipcard-Y;
}

.event .face {
  position: absolute;
  width: $full-size;
  height: $full-size;
  backface-visibility: hidden;
  padding: $root-size*0.5;
}

.event .face.back {
  transform: $flipcard-Y;
}

.event .front {
  display: flex;
}

.event .front h3 {
  margin: auto;
  font-size: $root-size*2;
  text-align: center;
}

.event .back {
  height: $full-size;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
