// Sækja config
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
@import './config';
/*
Global stílar
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $root-size;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: $stonegray;
}

a {
  color: $stonegray;
}

button {
  background-color: $stonegray;
  color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  padding: $root-size*0.5;
  word-break: initial;

  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out ;
}

button:hover {
  background-color: $white;
  color: $stonegray;
}

button:active {
  background-color: $stonegray;
  color: $white;
  border: 1px solid $black;
}

h1, h2, h3, h4 {
  font-family: 'Montaga', Georgia, serif;
}

/*
Meginmál
*/

main {
  padding-left: 10px;
  padding-right: 10px;
}
