// Sækja config
@import './config';

// Hér skal nota scss @for til að ítra út klösum fyrir grid
.grid {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
  width: $full-size;
}

@for $i from 1 to 13 {
  .col-#{$i} { width: 8.333333333%*$i;}
}

.offset-col-1 {
  margin-left: 8.333333333%;
}

.offset-col-2 {
  margin-left: 16.66666667%;
}

.offset-col-3 {
  margin-left: 25%;
}


/*
medium—upp að 800px
*/
@media (max-width: 799px) {
  @for $i from 1 to 13 {
    .col-md-#{$i} { width: 8.333333333%*$i;}
  }

  .offset-col-md-1 {
    margin-left: 8.333333333%;
  }

  .offset-col-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-col-md-3 {
    margin-left: 25%;
  }
}


/*
small—upp að 500px
*/
@media (max-width: 499px) {
  @for $i from 1 to 13 {
    .col-sm-#{$i} { width: 8.333333333%*$i;}
  }

  .offset-col-sm-1 {
    margin-left: 8.333333333%;
  }

  .offset-col-sm-2 {
    margin-left: 16.66666667%;
  }

  .offset-col-sm-3 {
    margin-left: 25%;
  }
}
