// Sækja config
// Allir stílar fyrir haus
@import './config';

header {
  margin-bottom: $root-size*2;

  width: $full-size;
  height: 100vh;

  display: flex;

  background-image: url(img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header .content {
  margin: auto;
  width: $full-size;
  text-align: center;
  color: $white;
}

header h1 {
  font-size: 6vmax;
}

header h2 {
  font-size: 3vmax;
}
